<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script type="text/javascript">
        function updateLengthInput(val) {
                  document.getElementById('lengthInput').value=val; 
                }
        function updateDepthInput(val) {
                  document.getElementById('depthInput').value=val; 
                }
        function updateFlipperInput(val) {
                  document.getElementById('flipperInput').value=val; 
                }

  </script>
    
  <style>
        form {
            margin: auto;
            width: 40%;
        }
        
        .result {
            margin: auto;
            width: 40%;
            border: 1px solid #ccc;
        }
  </style>
  
  
  <title>Penguin model</title>
  
</head>
<body>
  <form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Bill length (mm):
        <input name="bill_length_mm" id="bill" type="range" min="30" max="60"
        onchange="updateLengthInput(this.value);" required>
        <input type="text" id="lengthInput" value="45">
        <br>
        <br> Bill depth (mm):
        <input name="bill_depth_mm" type="range" min="10" max="25"
        
        onchange="updateDepthInput(this.value);" required>
        <input type="text" id="depthInput" value="17">
        <br>
        <br> Flipper length (mm):
        <input name="flipper_length_mm" type="range" min="170" max="240"
        onchange="updateFlipperInput(this.value);" required>
        <input type="text" id="flipperInput" value="200">
        <br>
        <br>
        <div style="text-align:center">  
        <input type="submit" />  
        </div> 
    </fieldset>
</form>
<br>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Probability of female penguin:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>  
</body>
</html>